[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "code/min-cost-matching"]
	path = code/min-cost-matching
	url = https://github.com/gafeol/Minimum-Cost-Perfect-Matching.git
